{% extends "base.html" %}
{% block title %} All Task {% endblock %}
{% block content %}
<br /><br />
<a class="btn btn-primary d-block mx-auto" style="width: 150px;" role="button" href="/new_task">New Task</a>

<br /><br />
<div class="container">
  <div class="table-responsive my-2">
    <table class="table table-striped table-bordered table-hover">
      <thead class="table-dark">
        <tr>
          <th scope="col" class="text-center">Title</th>
          <th scope="col" class="text-center">Description</th>
          <th scope="col" class="text-center">Created at</th>
          <th scope="col" class="text-center">Due date</th>
          <th scope="col" class="text-center">Status</th>
          <th colspan="2" class="text-center">Action</th> 
        </tr>
      </thead>
      <tbody>
        {% for todo in todos %}
        <tr>
          <td class="text-center">{{ todo[1] }}</td> 
          <td class="text-center">{{ todo[2] }}</td> 
          <td class="text-center">{{ todo[3] }}</td> 
          <td class="text-center">{{ todo[4] }}</td> 
          <td class="text-center">
            {% if todo[5] == 1 %}
            <form method="POST" action="/status_task/{{ todo[0] }}">
              <button type="submit" class="btn btn-success" role="button">Completed</button>
            </form>
            {% else %}
            <form method="POST" action="status_task/{{ todo[0] }}">
              <button type="submit" class="btn btn-warning" role="button">Incomplete</button>
            </form>
            {% endif %}
          </td>
          <td class="text-center">
            <a class="btn btn-secondary" role="button" href="/edit_task/{{ todo[0] }}">Edit</a>
          </td>
          <td class="text-center">
            <form method="POST" action="/delete_task/{{ todo[0] }}">
              <button type="submit" class="btn btn-danger" role="button">Delete</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
